* {
  padding: 0;
  margin: 0;
  transition: 1s ease;
}

header {
  display: block;
  margin: 0;
  padding: 0 5%;
}

header img {
  max-height: 100%;
}

header button {
  display: flex;
  float: right;
  padding: 0, 2%;
  max-height: 100%;
  position: inherit;
  align-items: center;
  font-size: 1.2em;
}

.container {
  /* padding: 3px; */
  display: inline-block;
  margin: 13px 0;
  position: relative;
  text-align: left;
  height: 300px;
  align-items: left;
  /* width: 70%; */
  background-image: url(./images/graphic.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-attachment: local;
  text-w
}

div.news {
  display: block;
  align-self: left;
  margin-top: 100px;
}
.news {
  display: block;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1em;
}

h4 {
  font-size: 0.75em;
  color: magenta;
}

.tablo {
  display: block;
  position: relative;
  text-align: center;
  color: black;
}

.tablo h1 {
  font-size: 16px;
  font-weight: bold;
}

.tekstas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social img {
  filter: grayscale(100%);
}
